.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-control{
    width: 400px;
}

// .card{
//     img{
//         transition: .2s;
//     }
//     img:hover{
//         transform: scale(1.1);
        
//     }
// }